:root{
    --primary-red: #A62633;
    --text-color: #412633;
}

@font-face {
    font-family: 'Tango';
    src: url('./Assetts/Tango.ttf');
}

@font-face {
    font-family: 'Jai';
    src: url('./Assetts/Jai.TTF');
}

.aboutme-container{
    height: 100vh;
    /* border: 2px solid black; */
    background-color: green;
    display: flex;
}

.about-left-container{
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: var(--primary-red);
}

.left-img-container{
    display: flex;
    flex: 1;
    /* background-color: pink; */
    align-items: center;
    justify-content: center;
}

.left-img-container img{
    mix-blend-mode: darken;
}

.left-text-container{
    display: flex;
    flex: 1;
    /* background-color: violet; */
    align-items: center;
    justify-content: center;
}

.left-text-container p{
    font-family: 'Jai';
    font-size: 1.2vw;
    color: white;
    text-align: justify;
    margin-left: 7vw;
    margin-right: 7vw;
}

.about-right-container{
    flex: 3;
    display: flex;
    height:100%;
}

.about-right-content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 7vh;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    margin-bottom: 3.5vw;
}

.right-skills-container{
    flex: 1;
    background-color: pink;
}

h1{
    font-family: 'Tango';
    color: var(--primary-red);
    font-size: 4vw;
}

.skills-table-container{
    display: flex;
    height: fit-content;
    background-color: bisque;
    margin: 1vw;
}

.skills-table-container table{
    color: var(--text-color);
    font-size: 1.2vw;
    font-family: 'Jai';
    width: 100%; 
    border: 2px solid green;
    border-collapse: collapse;
}
tr{
    height: 6vh;
}
td {
    border: 1px solid aqua;
}

.right-contact-container{
    flex:1;
    background-color: violet;
    display: flex;
}
.contact-left-container{
    flex: 1;
    background-color: aqua;
}

.contact-right-container{
    flex: 1;
    background-color: yellow;
}