:root{
    --primary-red: #A62633;
    --text-color: #412633;
}

@font-face {
    font-family: 'Tango';
    src: url('./Assetts/Tango.ttf');
}

@font-face {
    font-family: 'Jai';
    src: url('./Assetts/Jai.TTF');
}

.projects-container{
    margin-top: 9.7vh;
    height: 100vh;
    /* border: 2px solid black;
    background-color: blue; */
    display: flex;
}

.proj-left-container{
    background-color: var(--primary-red);
    flex: 2;
    display: flex;
    flex-direction: column;
}

.proj-left-desc{
    flex: 2;
    display: flex;
    font-family: 'Jai';
    font-size: 1.2vw;
    color: white;
    /* background-color: aqua; */
    margin-left: 7vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-right: 7vw;
}

.proj-left-title{
    flex: 3;
    transform-origin: 0 0;
    /* transform: rotate(270deg); */
    color: white;
    font-family: 'Tango';
    display: flex;
    /* background-color: violet; */
    justify-content: center;
    align-items: center;
}

.proj-left-title p{
    display: flex;
    align-items: center;
    transform: rotate(270deg);
    font-size: 5vw;
}

.proj-right-container{
    background-color: gray;
    flex: 3;
}

.scroll-container{
    background-color: blue;
    display: flex;
    height:100%;
}